.loc-row{
    height: 90vh;
}

.loc-row .loc-col{
    height: inherit;
    transition: all 0.5s;
}

.loc-row .loc-col-transition{
    height: inherit;
    opacity: 0;
}

.loc-row .loc-col .loc-col-card{
    height: inherit;
    margin: 10px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: rgb(161, 230, 255);
}