.loc-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.loc-row .loc-col{
    height: inherit;
    transition: all 0.5s;
    opacity: 1;
}

.loc-row .loc-col-transition{
    height: inherit;
    opacity: 0;
    display: none;
}

.loc-row .loc-col .loc-col-card{
    margin: 10px;
    padding: 10px;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}