.seat-area-header {
  display: flex;
  align-items: center;
  grid-gap: 10px 15px;
  gap: 10px 15px;
  padding: 22px 15px;
  overflow: auto;
  justify-content: center;
}

.seat-area-header span.full::before {
  background: #c05d5d;
}

.seat-area-header span.disabled::before {
  background: #aaaaaa;
}
.seat-area-header span.selected::before {
  background: rgb(48, 147, 15);
}

.seat-area-header span.empty::before {
  background: gray;
}
.seat-area-header span::before {
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 3px;
  flex-shrink: 0;
}

.seat-area-header span {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: black;
  grid-gap: 0 10px;
  gap: 0 10px;
  min-width: 75px;
  cursor: pointer;
}

.seat-area-header span.active {
  border: 2px solid black;
  padding: 2px 6px;
  border-radius: 5px;
}
