$palette_1: #FFFFFF;
$palette_2: #0582CA;
$palette_3: #003554;
$palette_4: #051923;
$palette_5: #34495E;
// $color_sidebar: rgba($palette_4, 1);
$color_sidebar: $palette_4;
$color_background: rgba($palette_4, 1);
$color_topbar: $palette_3 ;
$color_border: $palette_5;
$text_color: white;
